.container-display {

    display: flex;
    flex-direction: column;
    height: 270px;
    width: 100%;
    max-width: 1251px;
    border-radius: 16px;
    background-color: var(--color-bg-display);
    margin: 54px 99px 0 90px;
}

.main-text-display {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: var(--color-main-text-display);
    margin-top: 54px;
    margin-left: 31px;
}

.btn-search {
    display: flex;
    width: 101px;
    height: 40px;
    margin: 24px auto auto 31px;
    background-color: var(--color-bg-header);
    border: 1px solid var(--color-border-input);
    align-items: center;
    padding: 8px 22px;
    color: var(--color-text-header);  
}

.nomePerfil {
    background-color: #FFF;
    border: 1px solid var(--color-border-input);
    height: 40px;
    width: 298px;
    margin-left: 31px;
    margin-top: 5px;
    padding: 10px;
}



.btn-encontrar {
    background-color: var(--color-bg-header);
    height: 40px;
    width: 101px;
    border-radius: 4px;
    border: 1px solid var(--color-bg-header);
    margin: 10px auto auto 31px; 
    display: flex;
    align-items: center;
    color: #FFF;
    padding: 18px;
}

.container-display-busca {

    display: flex;
    justify-content: center;

    flex-direction: row;
    height: 334px;
    width: 100%;
    max-width: 1251px;
    border-radius: 16px;
    background-color: var(--color-bg-busca);
    margin: 54px 99px 0 90px;

}

.container-display-avatar {
    display: flex;
    width: 100%;
    max-width: 247px;
    height: 247px;
    border-radius: 6px;
    border: 1px solid var(--color-border-input);
    background-color: #FFF;
    margin: 43px  auto auto 43px;
    gap: 25px
}

.container-display-data {
    width: 100%;
    width: 902px;
    height: 247px;
    border-radius: 6px;
    border: 1px solid var(--color-border-input);
    background-color: #FFF;
    margin:  0 20px auto 20px;

}

.container-display-data p {
    color: #1890FF;
    margin: 8px auto auto 14px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.container-data-info {
    display: flex;
    align-items: center;
    height: 40px;
    width: 872px;
    border: 1px solid var(--color-border-input);
    border-radius: 4px;
    margin: 5px 10px;
}

.container-data-info p {
    color: #737373;
    margin: 8px auto auto 14px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    /* padding: 8px 10px; */
}

.avatar-size {
    width: 247px;
    height: 247px;
}

img {
    border-radius: 5px;
}