.container-display {

    display: flex;
    flex-direction: column;
    height: 270px;
    width: 100%;
    max-width: 1251px;
    border-radius: 16px;
    background-color: var(--color-bg-display);
    margin: 54px 99px 0 90px;
}

.main-text-display {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: var(--color-main-text-display);
    margin-top: 54px;
    margin-left: 31px;
}

.btn-encontrar {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 17px;
    margin-left: 31px;
}

.nomePerfil {
    background-color: #FFF;
    border: 1px solid var(--color-border-input);
    height: 40px;
    width: 298px;
    margin-left: 31px;
    margin-top: 5px;
    padding: 10px;
}